
.button-bar {
  position: absolute;
  right: 0;
  padding-top: 30%;
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.button {
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: -apple-system, system-ui, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans",
    Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s
      cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}


.button-start {
     border: 3px solid #d323bb;
  background: none;
  box-shadow: #a51c93 0 10px 20px -10px;
  color: #ffffff;
  width: 10em;
  height: 3em;
}

.button-start:hover {
  background-color: #a51c93;
}

.button-higher {
  border: 3px solid #0aa724;
  background: none;
  box-shadow: #06880d6c 0 10px 20px -10px;
  color: #ffffff;
}

.button-higher:hover {
  background-color: #1f8a1f;
}


.button-even {
   border: 3px solid #f0c713;
  background: none;
  box-shadow: #b69b05a6 0 10px 20px -10px;
  color: #ffffff;
}

.button-even:hover {
  background-color: #ccaa15;
}

.button-lower {
   border: 3px solid #b60303;
  background: none;
  box-shadow: #970606d2 0 10px 20px -10px;
  color: #ffffff;
}

.button-lower:hover {
  background-color: #940a0a;
}

/* .button-lower:active {
  background: #810909;
}

.button-lower:disabled {
  cursor: not-allowed;
  background: #810909;
} */

@media only screen and (max-width: 800px) {
.button-start{
  width: 80%;
  height: 2.5em;
}

.button-bar {
  bottom: 0;
  padding-bottom: 30%;
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
  z-index: 999;
}
.button-wrapper {
  display: flex;
  flex-direction:row;
  margin: 0, 0;
  padding: 0;
  
}
.button-start{
  background-color: #a51c93;
}
}