/* Fonts */
@font-face {
  font-family: "roboto";
  /*src:*/
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
}

/* --- root variables --- */
:root {
  --blueDark: #002A32;
  --blueLight: #006AA3;
  --white: #F0FAF2;
  --font-family: "roboto",
    sans-serif;
}

/*General styling*/
html {
  color: var(--white);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* komentarz*/
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 1rem;
}

section {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "roboto";
  font-size: 60px;
  color: var(--white);
  margin-bottom: 30px;
  font-size: 3rem;
}

h2 {
  font-family: "roboto";
  font-size: 60px;
  color: var(--red);
  font-size: 2.5rem;
}

h3 {
  font-family: "roboto";
  color: var(--white);
  font-size: 40px;
  text-align: center;
  font-size: 2rem;
}

h4 {
  font-family: "roboto";
  font-size: 30px;
  color: var(--white);
  font-size: 1.5rem;
}

h5 {
  font-family: "roboto";
  font-size: 25px;
  color: var(--white);
  font-size: 1.25rem;
}

p {
  font-family: "roboto";
  max-width: 600px;
  color: var(--white);
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

/*main container styling*/
.car-screens {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.versus-bar {
  align-items: center;
  display: flex;
  height: 30rem;
  justify-content: center;
  left: calc(50% - 2rem);
  opacity: 1;
  position: absolute;
}

.versus-bar::before {
  background-color: var(--blueDark);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 6px;

}

.vs {
  background-color: var(--blueDark);
  border-radius: 15px;
  color: white;
  width: 4rem;
  padding: 0.3rem;
  z-index: 0;
}

.vs h3 {
  font-size: 1rem;
}

.car-random {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.car-random img {
  width: 50px;
}


.car-random h2 {
  color: var(--blueDark);
  font-size: 2rem;
}

.car-name-container h3 {
  color: var(--blueLight);
  font-size: 1.5rem;
}

/*
.car-left,
.car-right{
  width: 100%;
  height: 100%;
}
*/

/*Images*/