/* Fonts */
@font-face {
  font-family: "roboto";
  /*src:*/
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
}

/* --- root variables --- */
:root {
  --blueDark: #5E3888;
  --blueLight: #006aa3;
  --white: #f0faf2;
  --background: #F4EEE8;
  --font-family: "roboto", sans-serif;
}

/*General styling*/
html {
  color: var(--white);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

/* komentarz*/
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}

section {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "roboto";
  color: var(--white);
  margin-bottom: 30px;
  font-size: 3rem;
}

h2 {
  font-family: "roboto";
  color: var(--red);
  font-size: 2.5rem;
}

h3 {
  font-family: "roboto";
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

h4 {
  font-family: "roboto";
  color: var(--white);
  font-size: 1.5rem;
}

h5 {
  font-family: "roboto";
  color: var(--white);
  font-size: 1.25rem;
}

p {
  font-family: "roboto";
  max-width: 600px;
  color: var(--white);
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

/*main container styling*/
.carScreens {
  display: flex;
  width: 100%;
  min-height: 30rem;
  position: relative;
}

.versus-bar {
  align-items: center;
  display: flex;
  height: 30rem;
  justify-content: center;
  left: calc(50% - 2rem);
  opacity: 1;
  position: absolute;
}

.versus-bar::before {
  background-color: var(--blueDark);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 6px;
}

.vs {
  background-color: var(--blueDark);
  border-radius: 15px;
  color: white;
  width: 4rem;
  padding: 0.3rem;
  z-index: 0;
}

.vs h3 {
  font-size: 1rem;
}

.carRandom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carRandom .carContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.car-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.car-list-container img {
  width: 10%;
}
.car-name-container {
  padding: 0.3rem;
}

.carRandom h2 {
  color: var(--blueDark);
  text-align: center;
}

.car-name-container h3 {
  color: var(--blueLight);
  text-align: center;
}

.gameStartPage {
}

.gameOverContainer {
}

/*BUTTONS*/
.button-bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.button {
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}


.button-higher { 
  background: #0aa724;
  box-shadow: #06880d6c 0 10px 20px -10px;
  color: #FFFFFF;
}

.button-higher:hover,
.button-higher:focus { 
  background-color: #1f8a1f;
}

.button-higher:active {
  background: #066129;
}

.button-higher:disabled { 
  cursor: not-allowed;
  background: rgba(9, 100, 36, 0.733);
}

.button-even { 
  background: #f0c713;
  box-shadow: #b69b05a6 0 10px 20px -10px;
  color: #FFFFFF;
}

.button-lower { 
  background: #b60303;
  box-shadow: #970606d2 0 10px 20px -10px;
  color: #FFFFFF;
}


/*Images*/
.demo-bg {
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  z-index: -2;
}
