/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Quantico', sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
}

/* --- root variables --- */
:root {
  --blueDark: #0D1C81;
  --blueLight: #1c84ad;
  --magenta: #d323bb;
  --white: #f0faf2;
  --grey: #b9b9b9;
  --background: #f4eee8;
  --font-family: 'Orbitron', sans-serif;
  --headFont: 'Orbitron', sans-serif;
  --backgroundImg: url("https://res.cloudinary.com/efer/image/upload/v1645261184/CarCompare/abstract-bcg_tismwh.png");
}

/*General styling*/
html {
  color: var(--white);
  font-family: var(--headFont);
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

/* komentarz*/
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}

section {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--headFont);
  color: var(--white);
  font-size: 3rem;
}

h2 {
  font-family: var(--headFont);
  color: var(--red);
  font-size: 2.5rem;
}

h3 {
  font-family: var(--headFont);
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

h4 {
  font-family: var(--headFont);
  color: var(--white);
  font-size: 1.5rem;
}

h5 {
  font-family: var(--headFont);
  color: var(--white);
  font-size: 1.25rem;
}

p {
  font-family: var(--headFont);
  max-width: 600px;
  color: var(--white);
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

/*main container styling*/
.carScreens {
  display: flex;
  width: 100%;
  min-height: 30rem;
  position: relative;
}

.versus-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 5em;
  opacity: 1;
  position: relative;
}

.versus-bar .vs-line {
  background-color: var(--blueDark);
  width: 2em;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vs-sign {
  background-color: var(--blueDark);
  position: relative;
  border-radius: 10px;
  transform: rotate(45deg);
  color: white;
  width: 4em;
  height: 4em;
  z-index: 0;
}

.vs-sign img {
  transform: rotate(-45deg);
}

.carRandom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carRandom .carContainer {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.car-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.car-list-container img {
  width: 10%;
}

.car-name-container {
  padding: 0.3rem;
}

.carRandom h2 {
  color: var(--blueDark);
  text-align: center;
}

.car-name-container h3 {
  color: var(--blueLight);
  text-align: center;
}

/*Images*/
.demo-bg {
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  z-index: -2;
}


@media only screen and (max-width: 800px) {
  .carScreens {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 30rem;
    position: relative;
  }
  
}